.app-class{
    display: grid;
    justify-content: center;
    align-items: center;
}
/* form{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
button{
    margin-top: 10px;
    pad: 5px;
    width: 60px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background-color: #1e1e1e1e;
}