.App-container{
    display: grid;
    justify-content: center;
    background-color: #2928281e;
}
.App-container > button:hover{
    background-color: red;
}
.Card-Container{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 220px;
    height: 300px;
    background-color:#9423231e;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.likeDislikeBtn{
    display: flex;
    justify-content: space-around;

}
button{
    padding: 5px;
    cursor: pointer;
    border:none;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
button:hover{
    background-color: #1e1e1e1e;
}